.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 650px;

    &--align--top {
        justify-content: flex-start;
    }
}

.section__title {
    margin-bottom: 50px;
    line-height: 1;
    text-align: center;

    h1 {
        font-size: 48px;
        color: #000;
        font-family: "Alegreya Sans";
        font-weight: 700;
        text-transform: uppercase;
    }


    &--special--firstscreen h1 {
        letter-spacing: 4px;
        font-size: 53px;
        line-height: 1.1;
        color: #fff;
        text-align: left;
    }

    &--color--green {
        color: $green;
    }
}

.section__title--margin--bottom-small {
    margin-bottom: 20px;
}

.menu {
    background: url("../img/menu-bg.jpg") center center / cover no-repeat;
}

.order-section {
    background: url("../img/order-bg.jpg") center center / cover no-repeat;
    // position: relative;

}

.map-section {
    background: url("../img/map.jpg") center center / cover no-repeat;
    padding-bottom: 90px;
}