.contacts__phone {
    display: flex;
    align-items: center;

    font-size: 24px;
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 400;
    text-align: right;

    &::before {
        content: "";
        display: block;
        position: relative;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        background: left center / contain no-repeat;
        background-image: url('../icons/phone.png');
    }

    &:hover {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    }
}