.contacts {
    display: flex;
    align-items: center;

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }

}

.footer__phone {
    display: flex;
    align-items: center;

    @include phones {
        justify-content: center;
        text-align: center;
    }
}

.phone-icon {
    width: 12px;
    height: 11px;
    fill: white;

    &--footer {
        fill: $green;
    }
}

.contacts__phone {
    font-size: rem(24px);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 400;
    margin-left: 5px;

    &:hover {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    }

    &--footer {
        font-size: rem(21px);
        color: $green;
    }
}

.contacts__adress {

    font-size: rem(21px);
    color: #000000;
    font-family: "Alegreya Sans";
    font-weight: 400;
}

.footer__contacts {
    width: 50%;
    display: flex;
    flex-direction: column;

    @include tablets {
        width: 60%;
    }

    @include phones {
        width: 100%;
        text-align: center;
    }
}