.hero__decorations-img {
    position: absolute;
    top: 86%;
    right: 0;
    bottom: 0;
    left: -2%;

    @include tablets {
        display: none;
    }
}

.features__decorations-berry {
    position: absolute;
    top: 103%;
    right: 0;
    bottom: 0;
    left: 0px;
}

.team__decorations-berry {
    position: absolute;
    z-index: 10;
    left: -5%;
    right: 0%;
    top: 104%;
    bottom: 0%;
}

.reviews-section__decorations-berry {
    position: absolute;
    top: 84%;
    right: 0;
    bottom: 0;
    left: 0px;
}

.order-section__decorations-berry {
    position: absolute;
    left: -11%;
    right: 0;
    top: 89%;
    bottom: 0;
}

.order-section__decorations-leaf {
    position: absolute;
    left: 93%;
    right: 0;
    top: 61%;
    bottom: 0;
}