.order-section__decorations-berry {
  position: absolute;
  left: -11%;
  right: 0;
  top: 89%;
  bottom: 0; }

.order-section__decorations-leaf {
  position: absolute;
  left: 93%;
  right: 0;
  top: 61%;
  bottom: 0; }
