.features {
    background: url("../img/features-bg.jpg") center center / cover no-repeat;
}

.features__container {
    position: relative;

    &:before {
        display: block;
        max-width: rem(148px);
        max-height: rem(220px);
        content: "";
        position: absolute;
        background: url("../img/features-raspberries.png") center center / contain no-repeat;
        left: 0%;
        bottom: 0%;

        @include phones {
            display: none;
        }
    }
}


.features__disc {
    font-size: rem(18px);
    color: #666666;
    font-family: "Alegreya Sans";
    font-weight: 400;
    text-align: center;
    padding: 1% 25%;
    margin-bottom: rem(60px);

    @include tablets {
        padding: 0 10%;
    }

    @include phones {}
}

.features__list {
    display: flex;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }

}

.features__item {
    width: calc(100% / 3 - 33px);
    margin-right: 3%;

    &:last-child {
        margin-right: 0px;
    }

    @include tablets {
        width: calc(100% / 3 - 15px);

    }

    @include phones {
        width: 100%;
    }

}