.feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phones {
        flex-direction: row;
    }
}



.feature__content {
    h2 {
        font-size: rem(27px);
        color: #000000;
        font-family: "Alegreya Sans";
        font-weight: 700;
        text-align: center;
        margin-bottom: rem(26px);

        @include phones {
            text-align: left;
        }
    }

    @include phones {
        width: 76%;
    }
}

.feature__text {
    font-size: rem(18px);
    color: #666666;
    font-family: "Alegreya Sans";
    font-weight: 300;
    text-align: center;

    @include phones {
        text-align: left;
    }

}


.feature__img {
    width: rem(125px);
    height: rem(125px);
    border-radius: 50%;
    background-color: #f2f5f4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(30px);

    @include phones {
        margin-bottom: rem(0px);
        margin-right: rem(10px);
    }

}

.feature__img-pic {
    display: block;
    max-width: rem(80px);
    max-height: rem(70px);
    fill: #2e2e2d;

}

.feature__item-slim {
    @include tablets {
        display: none;
    }
}

.feature__circle {
    margin-top: 263%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.feature__circle-elem {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f2f5f4;
    display: flex;
    align-items: center;
    position: relative;

    &:before {
        content: " ";
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: inherit;
        right: 30px;

    }

    &:after {
        content: " ";
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: inherit;
        left: 30px;
    }
}