.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 90px;
}

.footer-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;


}

.footer__social {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.footer__contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
}