.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    &:before {
        display: block;
        width: 80px;
        height: 108px;
        content: "";
        position: absolute;
        background: url("../img/hero-berries-2.png") center center / contain no-repeat;
        bottom: -9%;
        left: -5%;


    }

    &:after {
        display: block;
        width: 328px;
        height: 149px;
        content: "";
        position: absolute;
        background: url("../img/hero-berries-1.png") center center / contain no-repeat;
        bottom: -12%;
        right: 0%;

        @include tablets {
            bottom: -10%;
        }

    }
}


.hero__main {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include tablets {
        width: 100%;
    }
}

.hero__content {
    display: flex;
    justify-content: center;
    flex: .8;

    @include tablets {
        flex-direction: column-reverse;

        // :nth-child(2) {
        //     order: 1;
        // }
    }
}


.hero__text {}

.hero__disc {
    margin-bottom: 10%;

    p {
        font-size: rem(21px);
        color: #ffffff;
        font-family: "Alegreya Sans";
        font-weight: 400;
    }

    @include tablets {
        text-align: center;
        padding: 0 25%;
    }

    @include phones {
        text-align: center;
        padding: 0 5%;
    }


}

.hero__icons {
    margin-bottom: 15%;

    @include tablets {
        display: none;
    }


}


.hero__icons-pic {
    max-width: 50px;
    max-height: 40px;
    fill: #c6f7ff;
    margin-right: 5px;

    // margin-right: 10px;
    // display: flex;
    // align-items: center;
}

.hero__icons-img {
    display: block;
    width: 100%;
}

.hero__icons-text {
    font-size: rem(16px);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 400;
}

.hero__icons-list {
    display: flex;
}

.hero__icons-item {
    display: flex;
    align-items: center;
    margin-right: 40px;

    &:last-child {
        margin-right: 0px;
    }
}

.hero__img {
    width: 100%;

    @include tablets {
        height: 308px;
        background: url("../img/hero-adaptiv-img.png") center center / contain no-repeat;


    }

    @include phones {
        height: 245px;
        background: url("../img/hero-adaptiv-img.png") center center / contain no-repeat;


    }
}

.hero__img-pic {
    display: block;
    width: 100%;

    @include tablets {
        width: 0;

    }

}