.hero {
  background: url("../img/list.png") center center/cover no-repeat;
  background-color: #86c3d7; }

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: .8;
  -ms-flex: .8;
  flex: .8; }

.hero__text {
  width: 40%; }

.hero__disc {
  margin-bottom: 30px; }
  .hero__disc p {
    font-size: 21px;
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 400; }

.hero__icons {
  width: 60%; }

.hero__icons-pic {
  margin-right: 10px; }

.hero__icons-text {
  font-size: 16px;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-weight: 400; }

.hero__icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero__icons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 45px; }
