.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;


    &:before {
        display: block;
        width: 80px;
        height: 108px;
        content: "";
        position: absolute;
        background: url("../img/hero-berries-2.png") center center / contain no-repeat;
        bottom: -9%;
        left: -5%;

        @include tablets {
            display: none;
        }
    }

    &:after {
        display: block;
        width: 328px;
        height: 149px;
        content: "";
        position: absolute;
        background: url("../img/hero-berries-1.png") center center / contain no-repeat;
        bottom: -12%;
        right: 0%;

        @include tablets {
            display: none;
        }
    }

}


.hero__content {
    display: flex;
    justify-content: flex-start;


    @include tablets {
        flex-direction: column-reverse;
    }
}

.hero-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;

    @include tablets {
        width: 100%;
    }

}

.hero__text {}

.hero__img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @include tablets {
        min-height: 308px;
        background: url("../img/hero-adaptiv-img.png") center center / contain no-repeat;
        width: 100%;
    }

    @include phones {
        min-height: 245px;
        background: url("../img/hero-adaptiv-img.png") center center / contain no-repeat;
    }

}

.hero__img-pic {
    width: 100%;
    display: block;
    object-fit: contain;

    @include tablets {
        width: 0;
    }
}

.hero__disc {
    margin-bottom: rem(60px);


    p {
        font-size: rem(21px);
        color: #ffffff;
        font-family: "Alegreya Sans";
        font-weight: 400;

        @include phones {
            font-size: rem(18px);
        }

    }

    @include tablets {
        text-align: center;
        padding: 0 20%;
    }


}

.hero__icons {
    margin-bottom: 15%;

    @include tablets {
        display: none;
    }

}

.hero__icons-list {
    display: flex;
}

.hero__icons-item {
    display: flex;
    align-items: center;
    margin-right: 20px;

    &:last-child {
        margin-right: 0px;
    }
}

.hero__icons-pic {
    max-width: 50px;
    max-height: 50px;
    fill: #c6f7ff;
    margin-right: 5px;
}

.hero__icons-img {
    display: block;
    width: 100%;
}

.hero__icons-text {
    font-size: rem(16px);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 400;

}