.hero {
    background: url("../img/list.png") center center / cover no-repeat;
    background-color: #86c3d7;
}


.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.container--bg {
    background: url("../img/БатончикиЯгоды.png") center center / contain no-repeat;


}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: .8;
}

.hero__text {
    width: 40%;
}

.hero__disc {
    margin-bottom: 30px;

    p {
        font-size: 21px;
        color: #ffffff;
        font-family: "Alegreya Sans";
        font-weight: 400;
    }
}

.hero__icons {
    width: 60%;
    margin-bottom: 45px;
}


.hero__icons-pic {
    max-width: 50px;
    max-height: 40px;
    fill: #c6f7ff;
    margin-right: 5px;
    // margin-right: 10px;
    // display: flex;
    // align-items: center;
}

.hero__icons-img {
    display: block;
    width: 100%;
}

.hero__icons-text {
    font-size: 16px;
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 400;
}

.hero__icons-list {
    display: flex;
}

.hero__icons-item {
    display: flex;
    align-items: center;
    margin-right: 40px;

    &:last-child {
        margin-right: 0px;
    }
}