.menu-bg {
    background-color: rgba(51, 53, 55, .6);
    height: 100%;
    width: 100%;
}

.menu__title {
    position: absolute;
    top: 10%;
    left: 10%;

    @include phones {
        display: none;
    }
}

.menu__list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    // @extend %clearfix;
}

.menu__item {
    float: left;
    height: 100%;
}

.menu__link {
    width: rem(80px);
    display: block;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    position: relative;
    background-color: transparent;

    @include phones {
        width: rem(50px);
    }
}

.menu__link-text {
    font-size: rem(40px);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
    margin-top: rem(-20px);

    @include phones {
        font-size: rem(26px);
    }
}

.menu__desc-content {
    height: 100%;
    float: left;
    background: rgba(#2f3234, .93);
    width: 0;
    overflow: hidden;

    &--active {
        width: rem(300px);
    }

    // .menu__desc-text {
    //     display: block;
    // }

    // @include phones {
    //     width: 100%;
    //     position: absolute;
    // }
}


.menu__desc-text {
    font-size: rem(14px);
    color: #fff;
    padding: rem(60px) rem(30px);
    width: 100%;
    line-height: 1.8;
    display: block;
    position: relative;

    @include phones {
        padding: rem(25px) rem(15px);
    }
}

.close {
    position: absolute;
    right: 5%;
    top: 3%;
    width: rem(20px);
    height: rem(20px);
    fill: #c3c3c4;
    margin: rem(10px) rem(10px);
}


















// .menu__bg-color {
//     background-color: rgba(51, 53, 55, .6);
//     height: 100%;
//     width: 100%;
// }

// .menu-container {
//     height: 100%;
//     display: flex;
//     flex-direction: row;

// }

// .menu__title {
//     width: 50%;
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     margin-top: rem(100px);

//     @include tablets {
//         justify-content: flex-start
//     }

//     @include phones {
//         display: none;
//     }

// }

// .menu__accordeon {
//     position: absolute;
//     right: 0;
//     height: 100%;

// }

// .menu__list {
//     display: flex;
//     height: 100%;
//     position: relative;

// }

// .menu__item {
//     display: flex;

// }

// .menu__item-title {
//     max-width: 100px;
//     writing-mode: vertical-lr;
//     transform: rotate(180deg);
//     align-items: center;
//     font-size: rem(48px);
//     color: $white;
//     font-family: "Alegreya Sans";
//     font-weight: 700;
//     padding: 2% 2% 2%;


//     &--bg--1 {
//         background: url("../img/menu-bg-1.png") center center / cover no-repeat;
//     }

//     &--bg--2 {
//         background: url("../img/menu-bg-2.png") center center / cover no-repeat;
//     }

//     &--bg--3 {
//         background: url("../img/menu-bg-3.png") center center / cover no-repeat;
//     }

//     &--bg-color {
//         background-color: rgba(0, 0, 0, .9);
//     }
// }

// .menu__description {
//     display: flex;
//     display: none;
//     overflow: hidden;
//     max-width: 400px;
//     background-color: rgba(51, 53, 55, .8);
//     position: relative;



//     &--active {
//         display: block;

//         @include phones {
//             width: 100%;
//         }
//     }

// }

// .menu__description-text {
//     font-size: rem(16px);
//     color: $white;
//     font-family: "Alegreya Sans";
//     font-weight: 400;
//     padding: 10% 10% 5% 5%;
//     display: flex;
//     height: 100%;
//     width: 100%;

// }

// .close {
//     position: absolute;
//     right: 5%;
//     top: 3%;
//     width: 20px;
//     height: 20px;
//     fill: #c3c3c4;
// }