.menu__bg-color {
    background-color: rgba(51, 53, 55, .6);
    height: 100%;
    width: 100%;

}

.menu-container {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.menu__title {
    width: 40%;
    font-size: rem(48px);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 700;
    text-align: center;
    margin-top: rem(100px);

}

.menu__accordeon {
    width: 60%;
}

.menu__list {
    display: flex;
    height: 100%;
}

.menu__item {
    display: block;
    display: flex;




}

.menu__item-title {
    max-width: 100px;
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-items: center;
    font-size: rem(48px);
    color: $white;
    font-family: "Alegreya Sans";
    font-weight: 700;
    padding: 10px 10px 10px;


    &--bg--1 {
        background: url("../img/menu-bg-1.png") center center / cover no-repeat;

    }

    &--bg--2 {
        background: url("../img/menu-bg-2.png") center center / cover no-repeat;

    }

    &--bg--3 {
        background: url("../img/menu-bg-3.png") center center / cover no-repeat;

    }

}

.menu__hover {
    display: flex;
    width: 0;
    overflow: hidden;
    background-color: rgba(51, 53, 55, .9);



    p {
        padding: 20px 10px;
    }

    &--active {
        width: 300px;
        font-size: rem(16px);
        color: #ffffff;
        font-family: "Alegreya Sans";
        font-weight: 400;

    }

}

// .menu__hover-close {

    //     &:before {
    //         width: 3px;
    //         height: 8px;
    //         border-radius: 14px;
    //         background-color: #ffffff;
    //         transform: rotate(45deg);
    //     }

    //     &:after {
    //         content: "";
    //         display: block;
    //         position: absolute;
    //         width: 3px;
    //         height: 8px;
    //         top: 0%;
    //         left: 0%;

    //         transform: rotate(45deg);

    //         background-color: #ffffff;
    //         border-radius: 5px;
    //     }

    // }