.menu__bg-color {
    background-color: rgba(51, 53, 55, .6);
    height: 100%;
    width: 100%;

}

.menu-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu__accordeon {

    position: absolute;
    right: 0;
    height: 100%;
    // position: absolute;
    // top: 0;
    // bottom: 0%;
    // right: 0;
    // left: 85%;


}



.menu__title {
    width: 40%;
    font-size: rem(48px);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 700;
    text-align: center;
    margin-top: rem(100px);

    @include phones {
        display: none;
    }

    @include tablets {
        display: none;
    }

}


.menu__list {
    display: flex;
    height: 100%;
    position: relative;
}

.menu__item {
    display: flex;
}

.menu__hover {
    display: flex;
    width: 0;
    overflow: hidden;
    font-size: rem(16px);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 400;




    &--active {
        width: 300px;

        @include phones {
            width: 216px
        }
    }

    @include tablets {
        display: none;
    }


}



.menu__hover-text {
    width: 300px;
    overflow: hidden;
    height: 100%;
    background-color: rgba(51, 53, 55, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100px;

    p {
        padding: 5% 5%;
        font-size: rem(16px);
        line-height: 24px;
        color: #ffffff;
        font-family: "Alegreya Sans";
        font-weight: 400;

    }

    @include phones {
        width: 70%;
        left: 15%;
    }
}

.menu__item-title {
    max-width: 100px;
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-items: center;
    font-size: rem(48px);
    color: $white;
    font-family: "Alegreya Sans";
    font-weight: 700;
    padding: 2% 2% 2%;



    &--bg--1 {
        background: url("../img/menu-bg-1.png") center center / cover no-repeat;
        background-color: rgba(0, 0, 0, .9);
    }

    &--bg--2 {
        background: url("../img/menu-bg-2.png") center center / cover no-repeat;
        background-color: rgba(0, 0, 0, .9);
    }

    &--bg--3 {
        background: url("../img/menu-bg-3.png") center center / cover no-repeat;
        background-color: rgba(0, 0, 0, .9);
    }

}




// .menu__hover-close {

//     &:before {
//         width: 3px;
//         height: 8px;
//         border-radius: 14px;
//         background-color: #ffffff;
//         transform: rotate(45deg);
//     }

//     &:after {
//         content: "";
//         display: block;
//         position: absolute;
//         width: 3px;
//         height: 8px;
//         top: 0%;
//         left: 0%;

//         transform: rotate(45deg);

//         background-color: #ffffff;
//         border-radius: 5px;
//     }

// }