.nav {
    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;

}



.nav__item {
    margin-right: rem(20px);
}

.nav__item:last-child {
    margin-right: 0px;
}

.nav__link {
    font-size: rem(18px);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 400;

}