.reviews-show {
    display: flex;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.reviews__list {
    display: flex;
    position: relative;
    will-change: right;
}

.reviews__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    flex-shrink: 0;
    filter: drop-shadow(-10.649px 7.456px 15px rgba(151, 167, 156, 0.17));
    background-color: #f8faf9;
    padding: 5% 15% 5% 5%;
    margin-bottom: 20px;

    &:after {
        position: absolute;
        width: 140px;
        height: 157px;
        content: "";
        background: url("../img/reviews-card-decor.png") center center / contain no-repeat;
        top: 0%;
        right: 0;
        z-index: 1000;
    }
}

.rewiews__card-img {
    display: flex;
    align-items: center;
    max-width: 255px;
    max-height: 255px;
    margin-right: 20px;
    overflow: hidden;
}

.rewiews__card-content {
    width: 60%;
    text-align: left;

    h3 {
        font-size: rem(30px);
        color: #000000;
        font-family: "Alegreya Sans";
        font-weight: 700;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 18px;
        color: #000000;
        font-family: "Alegreya Sans";
        font-weight: 500;

    }
}

.rewiews__card-text {
    font-size: rem(18px);
    color: $brown;
    font-family: "Alegreya Sans";
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
}

.revies-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__link {
    display: block;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.reviews__link-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// .reviews {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

// }

// .reviews__icons-list {
//     display: flex;
//     justify-content: center;
//     align-items: center;


// }

// .reviews__icons-item {
//     &--active {
//         .reviews__link {
//             border: 6px solid $green;
//         }
//     }
// }

// .rewiews__cards {
//     position: relative;
//     width: 100%;
//     filter: drop-shadow(-10.649px 7.456px 15px rgba(151, 167, 156, 0.17));
//     background-color: #f8faf9;
//     padding: 5% 15% 5% 5%;
//     margin-bottom: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;


//     &:after {
//         position: absolute;
//         width: 140px;
//         height: 157px;
//         content: "";
//         background: url("../img/reviews-card-decor.png") center center / contain no-repeat;
//         top: 0%;
//         right: 0;
//         z-index: 1000;
//     }

// }

// .rewiews__cards-item {
//     display: none;

//     &--active {
//         display: flex;
//     }

//     @include tablets {
//         flex-direction: column;
//         padding: 5% 5% 5% 5%;
//     }

//     @include phones {
//         padding: 5% 5% 5% 5%;
//     }

// }

// .rewiews__card-img {
//     display: flex;
//     align-items: center;
//     max-width: 255px;
//     max-height: 255px;
//     margin-right: 20px;
//     overflow: hidden;

//     @include tablets {
//         margin-right: 0;
//         margin-bottom: 5%;
//         max-width: 135px;
//         max-height: 135px;
//     }

//     @include phones {
//         margin-right: 0;
//         margin-bottom: 3%;
//     }
// }

// .reviews__card-pic {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// .rewiews__card-content {
//     width: 60%;

//     h3 {
//         font-size: rem(30px);
//         color: #000000;
//         font-family: "Alegreya Sans";
//         font-weight: 700;
//         margin-bottom: 30px;
//     }

//     h4 {
//         font-size: 18px;
//         color: #000000;
//         font-family: "Alegreya Sans";
//         font-weight: 500;


//     }

//     @include tablets {
//         width: 100%;
//         text-align: center;
//     }
// }


// .rewiews__card-text {
//     font-size: rem(18px);
//     color: $brown;
//     font-family: "Alegreya Sans";
//     font-weight: 400;
//     margin-bottom: 30px;
// }


// .reviews__link {
//     display: block;
//     width: 70px;
//     height: 70px;
//     border-radius: 50%;
//     overflow: hidden;
// }

// .reviews__link-pic {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }