.reviews__container {
    position: relative;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rewiews__card {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    filter: drop-shadow(-10.649px 7.456px 15px rgba(151, 167, 156, 0.17));
    background-color: #f8faf9;
    padding: 5% 15% 5% 5%;
    margin-bottom: rem(20px);

    @include tablets {
        flex-direction: column;
        padding: 5% 5% 5% 5%;
    }

    @include phones {
        flex-direction: column;
        padding: 5% 5% 5% 5%;
    }

}


.reviews__card-berries {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 85%;
}

.rewiews__card-img {
    display: flex;
    align-items: center;
    max-width: 255px;
    max-height: 255px;
    margin-right: rem(20px);
    overflow: hidden;

    @include tablets {
        margin-right: 0;
        margin-bottom: 5%;
    }

    @include phones {
        margin-right: 0;
        margin-bottom: 3%;
    }
}

.reviews__card-pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rewiews__card-content {
    width: 60%;

    h3 {
        font-size: rem(30px);
        color: #000000;
        font-family: "Alegreya Sans";
        font-weight: 700;
        margin-bottom: rem(30px);
    }

    h4 {
        font-size: rem(18px);
        color: #000000;
        font-family: "Alegreya Sans";
        font-weight: 500;


    }

    @include tablets {
        width: 100%;
        text-align: center;
    }
}


.rewiews__card-text {
    font-size: rem(18px);
    color: $brown;
    font-family: "Alegreya Sans";
    font-weight: 400;
    margin-bottom: rem(30px);
}


.reviews__icons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.reviews__icons-item {
    margin-right: rem(10px);

    &:last-child {
        margin-right: 0px;
    }
}

.reviews__icons-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;

    &:hover {
        border: 6px solid #365a49;
    }
}

.reviews__icons-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}