.slider-container {
    display: flex;
    justify-content: center;
    text-align: center;

}


.slider {
    display: flex;
    text-align: center;
    width: 930px;
    overflow: hidden;
}

.slider__list {
    display: flex;
    position: relative;
    will-change: right;
    transition: right 0.3s;

}

.slider__item {
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 930px;
    height: 100%;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.left,
.right {
    display: flex;
    align-items: center;

    @include tablets {
        align-items: flex-start;
        margin-top: 32%;
    }

}


.right__link {
    display: block;
}

.left__icon {
    fill: #141414;
    width: 15px;
    height: 30px;
}

.right__icon {
    fill: #141414;
    width: 15px;
    height: 30px;
}


.slider-col-left {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;

    &:before {
        content: " ";
        position: absolute;
        display: block;
        width: 65px;
        height: 75px;
        border-radius: 50%;
        left: 0%;
        top: 30%;
        background: url('../img/slider-leaf-2.png') center center / cover no-repeat;

        @include phones {
            top: 15%
        }
    }

    &:after {
        content: " ";
        position: absolute;
        display: block;
        width: 115px;
        height: 80px;
        bottom: 11%;
        right: 12%;
        background: url('../img/slider-leaf.png') center center / cover no-repeat;

        @include phones {
            bottom: -2%;
            right: 1%;
        }
    }

}

.slider-col-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
        width: 100%;
    }
}