.social__list {
    display: flex;
    justify-content: center;



}

.social__item {
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.social__icon {
    width: rem(20px);
    height: rem(20px);
    fill: #b2b2b2;
    transition: .6s;

    &:hover {
        fill: #000000;
    }
}