.team__container {
    position: relative;
    margin-bottom: 70px;
}

.team__berries {
    position: absolute;
    z-index: 10;
    left: -5%;
    right: 0%;
    top: 125%;
    bottom: 0%;
    // top: 0%;
    // right: 0;
    // bottom: 0;
    // left: 0;
}