.btn__link {
    display: inline-block;
    font-size: rem(19px);
    color: $green;
    font-family: "Alegreya Sans";
    font-weight: 800;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #ffffff;

    &:hover {
        color: #fff;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.15));
        background-color: $dark-green;
    }

    @include phones {
        padding: 14px 20px;
    }
}

.btn {

    @include tablets {
        text-align: center;
    }
}

.button {
    font-size: rem(19px);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-weight: 800;
    text-transform: uppercase;
    background: $green;
    padding: 22px 30px;
    border-radius: 50px;

    &--reset {
        background-color: transparent;
        text-transform: none;
        color: $green;
        font-weight: 400;
        font-size: rem(18px);

        &:hover {
            color: #000;
        }
    }

    @include phones {
        padding: 14px 25px;
    }
}

.bar__content-btn {
    color: $white;
    background-color: $green;

}