.hamburger-link {
    width: 25px;
    height: 25px;

    cursor: pointer;
    display: none;
    justify-content: center;

    @include tablets {
        z-index: 10;
        display: flex;
    }
}

.hamburger {
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;


    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        border-radius: 2px;
        background-color: #ffffff;
        top: 9px;
    }

    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        border-radius: 2px;
        background-color: #ffffff;
        bottom: 9px;
    }


}