.section__title {
    margin-bottom: 30px;

    h1 {
        line-height: 1.2;
        text-align: center;
        color: #000;
        font-size: rem(48px);
        font-family: "Alegreya Sans";
        font-weight: 700;
        text-transform: uppercase;

        @include phones {
            font-size: rem(36px);
            line-height: 1.0;
        }

    }

    &--left h1 {
        text-align: left;

        @include tablets {
            text-align: center;
        }

    }

    &--color--white h1 {
        color: white;
        margin-bottom: 0;
    }

    &--color--green h1 {
        color: $green;

        @include phones {
            font-size: 30px
        }
    }

    @include phones {
        margin-bottom: 10px;
    }


}